{% extends "layout.html"%}
{% block content%}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mb-10"> Gestion <span class="text-warning"> Taches</span></h1>
                <p class="lead my-4 mv-5">
                    Tast Tast Tast Tast TastTast Tast Tast Tast TastTast Tast Tast Tast Tast
                </p>

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='Management-Page.png')}}" alt="">
        </div>
    </div>
</section>
<!-- Social Media -->
<section class="bg-primary text-light p-3">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class=" text-center">Social Media</h3>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="collapse navbar-collapse mv-5" id="socialbtn">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://github.com/omar-ghoneim"
                                target="_blank">
                                <i class="bi-github" role="img"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-dark ms-5 button_width" href="https://www.facebook.com/Pythonic88"
                                target="_blank">
                                <i class="bi bi-facebook "></i>
                                Facebook
                            </a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-dark ms-5 button_width"
                                href="https://www.instagram.com/pythonic_88" target="_blank">
                                <i class="bi bi-instagram"></i>
                                Instagram
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://twitter.com/Pythonic88"
                                target="_blank">
                                <i class="bi bi-twitter"></i>
                                Twitter
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://www.tiktok.com/@pythonic88"
                                target="_blank">
                                <i class="bi bi-tiktok"></i>
                                TikTok
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    </div>
</section>



{% endblock content%}